.Juan{

    color: red;
    font-size: 45px;
    text-align: center;
    justify-content: center;
    display: flex;
    border: 1px solid aqua;
    min-width: 500px; 


}



.Nayibe{
 
    color: aqua;
    font-size: 45px;
    text-align: center;
    justify-content: center;
    display: flex;
    border: 2px dotted red;
    min-width:500px ;
    
}